::ng-deep .mat-tab-header{
    border-bottom: 0px !important;
}

.main-header{
    background-color: white;
    opacity: 0.85;
    width: 100%;
    height: 25%;
    display: flex;
    justify-content:space-between;
    align-items: flex-start;
    /* margin-bottom: 50px; */
    position: fixed;
    overflow: hidden;
    z-index: 9;
    color: black;  
}

.main-nav-bar{
    padding-top: 70px;
    padding-right: 40px;
}

.main-logo{
    padding-left: 40px;
}

.shopping-cart-icon{
    font-size: 40px;
}

::ng-deep .product-cart-menu {
    width: 300px;
}

.checkout-button{
    display: flex;
    justify-content: center; 
    align-items: center;
    color: #E78200;
    background-color: white;
    width: 200px;
    height: 30px;
    border-radius: 15px;
    border-color: #E78200;
    border: solid 1px;
}

.product-cart-checkout{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}

.product-cart-content{
    display: flex;
    flex-direction: row;
    flex-basis: 25%;
    border-bottom : solid lightgrey 1px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.item{
    margin-right: 10px;
}

.item-header{
    font-weight: bold;
    font-family: Gotham;
}

.product-cart-value{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px 25px;
    font-weight: bold;
    font-family: Gotham;
}

.center{
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: larger;
    letter-spacing: 2px;
}

.product-cart-close{
    display: flex;
    justify-content: flex-end;
}
.product-cart-close:hover{
    cursor: pointer;
}

.cart-quantity-price{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

::ng-deep .mat-menu-panel{
    min-height: auto !important;
}

  
  /* .product-cart-menu.cdk-overlay-pane::before{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 15px solid #5E35B1;
    content: " ";
    position: absolute;
    top: 10px !important;
    animation: fadeInRightBig 0.75s;
   } */