<div class="main-header">
    <div class="main-logo">
      <img src="..\..\assets\PizzaHouse5.png" alt="Pizza House Home">
    </div>
      <div class="main-nav-bar">
        <nav mat-tab-nav-bar>
          <a mat-tab-link
          *ngFor="let link of navLinks"
          [routerLink]="link.link"
          routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">{{link.label}}      
          </a>
          <div mat-tab-link class="shopping-cart-icon" >
            <span #triggerBtn [matMenuTriggerFor]="cartList" matBadge="{{numberOfItemsIncart}}" matBadgeColor="warn" class="material-icons">
              shopping_cart
              </span>            
            <mat-menu  #cartList="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="product-cart-menu" (click)="$event.stopPropagation()">
              <div *ngIf="itemsInCart != undefined && itemsInCart != null && itemsInCart.length>0" class="product-cart-close">                
                <span class="material-icons" (click)="closeMenu()">
                  close
                </span>
              </div>
              <div *ngFor="let item of itemsInCart" class="product-cart-content">
                <img class="item" [src]="item.image" width="50px" height="60px">              
                <div class="item item-header">
                  <div>{{item.name}}</div>
                  <div>x {{item.quantity}}</div>
                </div>
                <!-- <div class="item"></div>                 -->
              </div>
              <div *ngIf="itemsInCart != undefined && itemsInCart != null && itemsInCart.length>0" class="product-cart-value">
                <div>TOTAL</div>
                <div>{{productCartValue}}$</div>
              </div>
              <div *ngIf="itemsInCart != undefined && itemsInCart != null && itemsInCart.length>0" class="product-cart-checkout">
                <div mat-button class="checkout-button">PROCEED TO CHECKOUT</div>
              </div> 
              <div *ngIf="itemsInCart == undefined || itemsInCart == null || itemsInCart.length==0" class="center item-header">
                Your cart is empty!
              </div>             
            </mat-menu>
          </div>
          </nav>
      </div>
      <!-- <div #tooltip="matTooltip" matTooltip="Info about the action"> Manual Tooltip </div> -->
</div>

