<div class="main-header">
    <div class="main-logo">
      <img src="..\..\assets\PizzaHouse5.png" alt="Pizza House Home">
    </div>
      <div class="main-nav-bar">
        <nav mat-tab-nav-bar>
          <a mat-tab-link
          *ngFor="let link of navLinks"
          [routerLink]="link.link"
          routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">{{link.label}}      
          </a>
          <a mat-tab-link class="shopping-cart-icon"><span class="iconify" data-icon="ant-design:shopping-cart-outlined"></span></a>
          </nav>
      </div>
  </div> 