<div class="main-header">
    <div class="main-logo">
      <img src="..\..\assets\PizzaHouse5.png" alt="Pizza House Home">
    </div>
      <div class="main-nav-bar">
        <nav mat-tab-nav-bar>
          <a mat-tab-link
          *ngFor="let link of navLinks"
          [routerLink]="link.link"
          routerLinkActive #rla="routerLinkActive"
          [active]="rla.isActive">{{link.label}}      
          </a>
          <div mat-tab-link class="shopping-cart-icon" >
            <span #triggerBtn [matMenuTriggerFor]="cartList" matBadge="{{numberOfItemsIncart}}" matBadgeColor="warn" class="material-icons">
              shopping_cart
              </span>            
            <mat-menu #cartList="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="product-cart-menu" (click)="$event.stopPropagation()">
              <div *ngFor="let item of itemsInCart">
                <div>{{item.name}}</div>
                <div>{{item.quantity}}</div>                
              </div>
              <div mat-button class="checkout-button">PROCEED TO CHECKOUT</div>
            </mat-menu>
          </div>
          </nav>
      </div>
      <!-- <div #tooltip="matTooltip" matTooltip="Info about the action"> Manual Tooltip </div> -->
</div>

