
    <!-- Footer -->
    <footer class="main-footer">
        <div class="container-fluid">
          <div>
            <h3>Follow us on </h3>
          </div>
          <div class="row footer-links"> 
            <div>           
            <span class="iconify" data-icon="akar-icons:facebook-fill" data-width="40" data-height="40"></span>
            <span class="iconify" data-icon="mdi:twitter" data-width="40" data-height="40"></span>
            <span class="iconify" data-icon="ant-design:instagram-outlined" data-width="40" data-height="40"></span>
            <span class="iconify" data-icon="akar-icons:youtube-fill" data-width="40" data-height="40"></span>
            </div>
            <div>
                <mdb-navbar SideClass=" navbar-expand-lg navbar-dark indigo">
                    <links>
                        <!-- Links -->
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link waves-light" mdbWavesEffect>CONTACT US</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-light" mdbWavesEffect>CAREERS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-light" mdbWavesEffect>ABOUT US</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-light" mdbWavesEffect>SIGN UP</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link waves-light" mdbWavesEffect>LOCATIONS</a>
                            </li>
                        </ul>
                        <!-- Links -->
                    </links>
                </mdb-navbar>
            </div>
          </div>
          <div>
            <div><h4>©2017 Brand, Inc.</h4></div>            
          </div>
        </div>
    </footer>
