<div class="about-me-content"> 
  <div class="about-me-carousel">
  <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
    <mdb-carousel-item>
      <div class="carousel-container">
        <img src="..\..\assets\pizzascroll1.jpg" alt="Pizza House">
        <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="carousel-container">
        <img src="..\..\assets\pizzascroll2.jpg" alt="Pizza House">
        <div class="mask rgba-black-strong waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
    <mdb-carousel-item>
      <div class="carousel-container">
        <img src="..\..\assets\pizzascroll3.jpg" alt="Pizza House">
        <div class="mask rgba-black-slight waves-light" mdbWavesEffect></div>
      </div>
    </mdb-carousel-item>
    <div class="carousel-caption">
        DELICIOUS & CHEESY
    </div>
  </mdb-carousel>
  </div>

  <div class="container about-me-content">
    <h1 class="content-header">WHO WE ARE</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac ornare arcu. Pellentesque blandit elit vitae tellus aliquam, eget commodo diam scelerisque. Mauris viverra nunc fermentum lobortis facilisis. Phasellus dictum mauris vel risus volutpat semper. In convallis, nunc et aliquam dapibus, odio orci tempus purus, non vehicula nibh neque ut risus. Etiam faucibus posuere risus et facilisis. Vestibulum at mollis felis, id posuere mauris.</p>

    <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus molestie consectetur. Curabitur finibus felis vel velit commodo, ac auctor neque maximus. Aenean sed gravida lacus, in congue erat. Nam eu arcu at augue suscipit viverra dignissim a lorem. Sed vestibulum porta ante id luctus. Quisque in odio sed metus efficitur finibus eget id ante. Vestibulum vestibulum ipsum scelerisque mattis fermentum.</p>


  </div>
  </div>